---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Services from "../components/Services.astro";
import Plan from "../components/Plan.astro";
import Portfolio from "../components/Portfolio.astro";
import MovingTags from "../components/MovingTags.astro";
import Reviews from "../components/Reviews.astro";
import FAQ from "../components/FAQ.astro";
import About from "../components/About.astro";

import "../css/fonts.css";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import AstroConfig from "../../astro.config.mjs";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatedPath = useTranslatedPath(lang);
---

<Layout title={t("meta.home.title")} description={t("meta.home.description")}>
  <main class="overflow-hidden">
    <Navbar mode="black" />
    <Hero />
    <Services />
    <Plan />
    <Portfolio
      nextSectionTitle={t("extra.show-more")}
      nextSectionLink={translatedPath("/our-work")}
      count={6}
    />
    <MovingTags />
    <Reviews />
    <FAQ />
    <About />
    <MovingTags />
  </main>
</Layout>

<style></style>

<script>
  // document.addEventListener("scroll", function() {
  // 	let navbar = document.getElementById("navbar");
  // 	let sections = document.querySelectorAll("section");
  //
  // 	sections.forEach(function(section) {
  // 		let sectionRect = section.getBoundingClientRect();
  //
  // 		if(sectionRect.top <= navbar.offsetHeight &&
  // 			sectionRect.bottom >= navbar.offsetHeight) {
  // 			let navColor = section.getAttribute("data-nav-color");
  // 			navbar.style.backgroundColor = navColor;
  //
  // 		}
  // 	});
  // });
</script>
