---
import AboutItem from "./About/AboutItem.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  class="bg-white py-20 rounded-3xl lg:rounded-[60px] overflow-x-hidden"
  id="about"
>
  <div class="container mx-auto px-4 lg:px-12" data-aos="fade-up">
    <p class="text-black text-opacity-50 text-center md:text-left pb-4">
      {t("journey.title")}
    </p>
    <div class="flex justify-center items-center flex-col gap-16">
      <img
        src="/assets/logos/logo-blue.png"
        alt="logo samo schulz"
        class="h-10"
      />
      <div class="py-20">
        <h3 class="text-center text-black text-6xl font-norma">
          SCHULZ CONCEPT
        </h3>
        <p
          class="text-center text-black text-opacity-50 font-normal tracking-wide"
        >
          SCHULZ CONCEPT AGENCY
        </p>
      </div>

      <p class="text-left lg:text-justify text-lg w-full lg:w-1/2">
        {t("journey.description")}
      </p>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <AboutItem
          title={t("journey.branding.title")}
          side="right"
          description={t("journey.branding.description")}
        />
        <div>
          <!--    emtpy-->
        </div>
        <div>
          <!--    emtpy-->
        </div>
        <AboutItem
          title={t("journey.marketing.title")}
          description={t("journey.marketing.description")}
          side="left"
        />
        <div>
          <!--    emtpy-->
        </div>
        <div>
          <!--    emtpy-->
        </div>
        <AboutItem
          title={t("journey.web.title")}
          side="right"
          description={t("journey.web.description")}
        />
        <div>
          <!--    emtpy-->
        </div>
        <div>
          <!--    emtpy-->
        </div>
        <AboutItem
          title={t("journey.design.title")}
          side="left"
          description={t("journey.design.description")}
        />
        <div>
          <!--    emtpy-->
        </div>
        <div>
          <!--    emtpy-->
        </div>
        <AboutItem
          title={t("journey.merch.title")}
          side="right"
          description={t("journey.merch.description")}
        />
      </div>
    </div>
  </div>
</section>
