---
---
<section class="w-full bg-white py-16">
    <div class="container mx-auto py-8 px-4">
        <p class="text-2xl md:text-7xl text-center">„Vaša <span class="text-[#000aff]">vízia</span> je našou výzvou“</p>
    </div>
</section>