---
import { languages } from '../i18n/ui';
import { getLangFromUrl, getRouteFromUrl, useTranslatedPath } from "../i18n/utils";
import { languages } from '../i18n/ui';



const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

---
<ul class="flex gap-4">
  {Object.entries(languages).map(([lang, label]) => (
          <li>
              <a class="text-white" href={translatePath(`/${route ? route : ''}`, lang)}>{label}</a>
          </li>
  ))}

</ul>
