
<section class="py-32 w-full overflow-hidden">
    <div class="flex gap-20 animation-row-left">
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Zavolaj&nbsp;nám</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Poradíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">150+&nbsp;hodín&nbsp;brainstormingu</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Napíš&nbsp;nám</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Naučíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">10+&nbsp;projektov</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Vysvetlíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Objasníme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">500&nbsp;vypitých&nbsp;káv</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Naučíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Vysvetlíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Objasníme</>
    </div>

    <div class="flex gap-20 animation-row-right my-8 ">
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Zavolaj&nbsp;nám</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Poradíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">150+&nbsp;hodín&nbsp;brainstormingu</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Napíš&nbsp;nám</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Naučíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">10+&nbsp;projektov</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Vysvetlíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Objasníme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">500&nbsp;vypitých&nbsp;káv</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Naučíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Vysvetlíme</>
        <p class="text-white text-4xl font-semibold uppercase tracking-widest">Objasníme</>
    </div>
</section>


<style>
    .animation-row-left {
        animation: row 20s linear infinite;
    }

    .animation-row-right {
        animation: row 20s linear infinite reverse;
    }

    @keyframes row {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>