<navbar>
    <div
        class="container flex justify-start items-start lg:gap-20 gap-10 py-8 mx-auto"
    >
        <img src="assets/logos/small-logo.svg" alt="logo schulz concept"/>

        <div class="flex-grow flex gap-20 justify-center">
            <p
                class="flex-grow-0 flex-shrink-0 text-xl text-center uppercase text-white"
            >
                služby
            </p>
            <p
                class="flex-grow-0 flex-shrink-0 text-xl text-center uppercase text-white"
            >
                naše práce
            </p>
            <p
                class="flex-grow-0 flex-shrink-0 text-xl text-center uppercase text-white"
            >
                Naša cesta
            </p>
            <p
                class="flex-grow-0 flex-shrink-0 text-xl text-center capitalize text-white"
            >
                SCHARFYN
            </p>
            <p
                class="flex-grow-0 flex-shrink-0 text-xl text-center uppercase text-white"
            >
                Kontakt
            </p>
        </div>
        <div>
            <p
                class="text-xl text-center uppercase text-white"
            >
                Napíš nám
            </p>
            <img src="assets/decorations/underline.svg" alt="underline"/>

        </div>
    </div>

    
</navbar>