<!--<div className="w-96 h-96 relative">-->
<!--    <div className="w-96 h-96 left-0 top-0 absolute bg-white rounded-3xl" />-->
<!--    <img className="w-48 h-20 left-[360px] top-[840px] absolute" src="https://via.placeholder.com/199x83" />-->
<!--    <div className="left-[105px] top-[153px] absolute text-black text-opacity-50 text-xl font-medium uppercase tracking-widest">Spokojní zákazníci</div>-->
<!--    <div className="w-96 h-72 left-[105px] top-[444px] absolute text-black text-2xl font-normal tracking-wide">Všechny předložené návrhy pro mě byly šité přímo na míru. Oceňuju, že designérka obtiskla předměty a nástroje přímo z vinařství. Ty potom promítla v celé vizuální identitě.  Do budoucna chystáme společně další projekty. Schulz Concept nám také spravují sociální sítě a webové stránky. Zvládnou se postarat o vše co firma potřebuje.</div>-->
<!--    <div className="left-[1137px] top-[320px] absolute text-black text-3xl font-normal tracking-wide">Ing. Katarina Jurkovičová</div>-->
<!--    <div className="left-[262px] top-[320px] absolute text-black text-3xl font-normal tracking-wide">Jiří Nešpor</div>-->
<!--    <div className="w-96 h-72 left-[980px] top-[444px] absolute text-black text-2xl font-normal tracking-wide">Naozaj partner na úrovni. S našou spoluprácou som už začiatku nad mieru spokojná. Stretnutie s pánom Schulzom bolo priateľské a mal sofistikované otázky. Mám pocit, že moju firmu a víziu pozná viacej ako ja. Vždy je otvorený ohľadom toho, čo sa práve deje a na každý problém nájde riešenie. Mala som problém vytvoriť z našej firmy značku. Mali sme kvalitné výrobky ale nevedeli sme sa dostatočne propagovať a odlíšiť sa od konkurencie. Po re-brandingu a novej marketingovej stratégii sa naše predaje zdvihli o 140% behom prvých 3 mesiacov a stále rastú. Dizajnérka bola veľmi milá a presne vystihla naše hodnoty pri tvorbe logo a vizuálnej identity. Vrelo odporúčam a teším sa na to, čo ďalšie prinesie naša spolupráca!</div>-->
<!--    <div className="left-[1137px] top-[363px] absolute text-black text-opacity-50 text-xl font-normal tracking-wide">Majitel TK Medical, konateľ PK Machinery</div>-->
<!--    <div className="left-[262px] top-[363px] absolute text-black text-opacity-50 text-xl font-normal tracking-wide">Majiteľ Vinařství U Nešporů</div>-->
<!--    <div className="left-[980px] top-[234px] absolute text-black text-opacity-50 text-xl font-normal">02</div>-->
<!--    <div className="left-[105px] top-[234px] absolute text-black text-opacity-50 text-xl font-normal">01</div>-->
<!--    <div className="w-28 h-28 left-[980px] top-[300px] absolute bg-black rounded-full" />-->
<!--    <div className="w-28 h-28 left-[105px] top-[300px] absolute bg-black rounded-full" />-->
<!--    <div className="w-96 h-24 left-[1123px] top-[829px] absolute">-->
<!--        <div className="opacity-40 w-60 h-20 left-[315.62px] top-[7px] absolute">-->
<!--            <div className="w-20 h-16 left-0 top-[73.64px] absolute origin-top-left -rotate-90" />-->
<!--        </div>-->
<!--        <div className="opacity-40 w-40 h-24 left-0 top-0 absolute">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<section id="reviews" class="bg-white rounded-3xl lg:rounded-[60px] py-16" data-aos="fade-up" data-aos-duration="1000">
    <div class="container mx-auto px-12">
        <p class="text-black text-opacity-50 text-md font-medium uppercase tracking-widest mb-8">Spokojní zákazníci</p>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 py-8">
            <div class="flex flex-col justify-start gap-5">
                <p class="text-black text-opacity-50 text-xl font-normal text-left">01</p>
                <div class="flex-col flex gap-5">
                    <div class="flex gap-5 justify-start">
                        <div class="bg-zinc-300 h-20 w-20 rounded-full p-2">
                            <img class="w-full h-full object-contain" src="assets/images/logo-nespor.png"
                                 alt="Logo nespor">
                        </div>

                        <div class="my-auto flex flex-col justify-center">
                            <p class="text-black text-xl font-normal tracking-wide">Jiří Nešpor</p>
                            <p class="text-black text-opacity-50 text-md font-normal tracking-wide">Majiteľ Vinařství U
                                Nešporů</p>
                        </div>
                    </div>
                    <div class="text-black text-md font-normal tracking-wide">Všechny předložené návrhy pro mě byly šité
                        přímo na míru. Oceňuju, že designérka obtiskla předměty a nástroje přímo z vinařství. Ty potom
                        promítla v celé vizuální identitě. Do budoucna chystáme společně další projekty. Schulz Concept
                        nám také spravují sociální sítě a webové stránky. Zvládnou se postarat o vše co firma potřebuje.
                    </div>
                </div>
                <div class="flex w-full justify-center pt-10 px-20">
                    <img src="/assets/images/nespor.png" alt="nespor logo" class="invert h-auto w-40 object-contain"/>
                </div>
            </div>

            <div class="flex flex-col justify-start gap-5">
                <p class="text-black text-opacity-50 text-xl font-normal text-left">02</p>
                <div class="flex-col flex gap-5">
                    <div class="flex gap-5 justify-start">
                        <div class="bg-white h-20 w-20 rounded-full p-2">
                            <img class="w-full h-full object-contain" src="assets/images/logo-pk-machinery.png"
                                 alt="Logo nespor">
                        </div>

                        <div class="my-auto flex flex-col justify-center">
                            <p class="text-black text-xl font-normal tracking-wide">Ing. Katarina Jurkovičová</p>
                            <p class="text-black text-opacity-50 text-md font-normal tracking-wide">Majitel TK Medical,
                                konateľ PK Machinery</p>
                        </div>
                    </div>
                    <div class="text-black text-md font-normal tracking-wide">
                        Naozaj partner na úrovni. S našou spoluprácou som už začiatku nad mieru spokojná. Stretnutie s
                        pánom Schulzom bolo priateľské a mal sofistikované otázky. Mám pocit, že moju firmu a víziu
                        pozná viacej ako ja. Vždy je otvorený ohľadom toho, čo sa práve deje a na každý problém nájde
                        riešenie. Mala som problém vytvoriť z našej firmy značku. Mali sme kvalitné výrobky ale nevedeli
                        sme sa dostatočne propagovať a odlíšiť sa od konkurencie. Po re-brandingu a novej marketingovej
                        stratégii sa naše predaje zdvihli o 140% behom prvých 3 mesiacov a stále rastú. Dizajnérka bola
                        veľmi milá a presne vystihla naše hodnoty pri tvorbe logo a vizuálnej identity. Vrelo odporúčam
                        a teším sa na to, čo ďalšie prinesie naša spolupráca!
                    </div>
                </div>
                <div class="flex lg:flex-row w-full justify-center mt-10 gap-20 px-20 py-10">
                    <img src="/assets/images/tk-medical.png" alt="tk-medical logo" class="h-24 w-24 object-contain my-auto"/>
                    <img src="/assets/images/pk-machinery.png" alt="pk machinery logo"
                         class="w-40 h-40 object-contain my-auto"/>
                </div>
            </div>
        </div>
    </div>
</section>