---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="reviews" class="bg-white rounded-3xl lg:rounded-[60px] py-16" data-aos="fade-up" data-aos-duration="1000">
    <div class="container mx-auto px-12">
        <p class="text-black text-opacity-50 text-md font-medium uppercase tracking-widest mb-8">{t('reviews.title')}</p>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 py-8">
            <div class="flex flex-col justify-start gap-5">
                <p class="text-black text-opacity-50 text-xl font-normal text-left">01</p>
                <div class="flex-col flex gap-5">
                    <div class="flex gap-5 justify-start">
                        <div class="bg-zinc-300 h-20 w-20 rounded-full p-2">
                            <img class="w-full h-full object-contain" src="/assets/images/logo-nespor.png"
                                 alt="Logo nespor">
                        </div>

                        <div class="my-auto flex flex-col justify-center">
                            <p class="text-black text-xl font-normal tracking-wide">{t('customer-1.name')}</p>
                            <p class="text-black text-opacity-50 text-md font-normal tracking-wide">{t('customer-1.position')}</p>
                        </div>
                    </div>
                    <p class="text-black text-md font-normal tracking-wide">{t('customer-1.review')}</div>
                </div>
                <div class="flex w-full justify-center pt-10 px-20">
                    <img src="/assets/images/nespor.png" alt="nespor logo" class="invert h-auto w-40 object-contain"/>
                </div>
            </div>

            <div class="flex flex-col justify-start gap-5">
                <p class="text-black text-opacity-50 text-xl font-normal text-left">02</p>
                <div class="flex-col flex gap-5">
                    <div class="flex gap-5 justify-start">
                        <div class="bg-white h-20 w-20 rounded-full p-2">
                            <img class="w-full h-full object-contain" src="/assets/images/logo-pk-machinery.png"
                                 alt="Logo nespor">
                        </div>

                        <div class="my-auto flex flex-col justify-center">
                            <p class="text-black text-xl font-normal tracking-wide">{t('customer-2.name')}</p>
                            <p class="text-black text-opacity-50 text-md font-normal tracking-wide">{t('customer-2.position')}</p>
                        </div>
                    </div>
                    <p class="text-black text-md font-normal tracking-wide">{t('customer-2.review')}</p>
                </div>
                <div class="flex lg:flex-row w-full justify-center mt-10 gap-20 px-20 py-10">
                    <img src="/assets/images/tk-medical.png" alt="tk-medical logo" class="h-24 w-24 object-contain my-auto"/>
                    <img src="/assets/images/pk-machinery.png" alt="pk machinery logo"
                         class="w-40 h-40 object-contain my-auto"/>
                </div>
            </div>
        </div>
    </div>
</section>