---
import ServiceItem from "./ServiceItem.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
interface ServiceItemType {
    title: string;
    description: string;
}


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const services: Array<ServiceItemType> = t('services.items') as Array<ServiceItemType>;
---

<section class="bg-white rounded-3xl lg:rounded-[60px] lg:py-16 mt-12" id="services" data-nav-color="white">
    <div class="container px-4 lg:px-12 mx-auto py-4">
    <p class="text-center lg:text-left uppercase text-black/50 py-4">SLUŽBY</p>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8 justify-between">
        {services.map((item, index) =>
            <ServiceItem {...item} index={index + 1} class="w-1/2"/>
        )}
    </div>
    </div>
</section>