--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../css/fonts.css';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Schulz Concept Agency - Vyriešime za vás web, design a firemnú identitu">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg" href="/assets/logos/logo-small-1.svg" id="link-icon"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
		<!--<meta name="generator" content={Astro.generator} />-->

		<title>{title}</title>
	</head>
	<body class="font-nhaas-dspro">
		<slot />
		<script src="../js/main.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #000;
		background-size: 224px;
		scroll-behavior: smooth;

	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body {
		overflow-x: hidden;
		width: 100vw;
	}

</style>


<script>
	let favIconIndex = 0;
	const favIcons = ['/assets/logos/logo-small-1.svg', '/assets/logos/logo-small-2.svg', "/assets/logos/logo-small-3.svg"];
	setInterval(()=> {
		document.getElementById('link-icon').setAttribute('href', favIcons[favIconIndex]);
		favIconIndex++;
		if (favIconIndex >= favIcons.length) favIconIndex = 0;
	}, 500);
</script>
